.landing-page-container {
  width: 100%;
  height: 100%;
  padding: 2em 4em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 1.5em 0;
  font-size: 1.1em;
}

.navbar-brand {
  color: var(--text);
  margin: 0;
}

.navbar-links {
  display: flex;
  gap: 1.5em;
}

.navbar-links > * {
  cursor: pointer;
  color: var(--text);
  text-decoration: none;
  font-size: 1.25em;
  padding: 0.25em 0;
  transition: transform 50ms ease-out;
}

.navbar-links > *:hover {
  transform: scale(1.05);
}

.home-section {
  position: relative;
  display: flex;
  justify-content: center;
}

.note-sample {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 32em;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.note-text {
  text-align: center;
  font-size: 4.5em;
  line-height: 1.1;
  font-weight: 500;
  display: inline-block;
  overflow: hidden;
  color: white;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}

#background__gradient {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.content-section {
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-around;
  gap: 0.5em;
  margin-top: 10em;
  padding: 1em;
}

.sort-category-section {
  height: 8em;
}

.four-notes {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 1.2em;
  padding: 2em;
}

.note {
  width: 6em;
  height: 8em;
  transform: rotate(-10deg);
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 0.25em;
  transition: transform 125ms ease-out;
}

.note:hover {
  transform: scale(1.1);
}

.note:nth-child(1) {
  background-image: linear-gradient(hsl(0, 60%, 50%), hsl(0, 60%, 60%));
}

.note:nth-child(2) {
  background-image: linear-gradient(hsl(217, 63%, 50%), hsl(217, 63%, 60%));
}

.note:nth-child(3) {
  background-image: linear-gradient(hsl(42, 100%, 50%), hsl(42, 100%, 70%));
}

.note:nth-child(4) {
  background-image: linear-gradient(hsl(87, 54%, 50%), hsl(87, 54%, 65%));
}

.colors-box {
  width: 30em;
  height: 20em;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
}

.security-image {
  display: flex;
  align-items: center;
}

.colors-text {
  font-size: 1.8em;
}

.lock {
  display: flex;
  justify-content: center;
  width: 20em;
}

.lock > img {
  width: 65%;
}

.lock > img:hover {
  animation: shake 0.3s;
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  30% {
    transform: translate(5px, 0px) rotate(0deg);
  }
  70% {
    transform: translate(-5px, 0px) rotate(0deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

.section-content-container {
  width: 50%;
}

.section-content {
  margin-left: auto;
  min-height: 20em;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2.5em;
}

.section-content__heading {
  color: white;
  font-size: 2em;
}

.section-content__content {
  color: white;
  font-weight: 300;
  font-size: 1.1em;
  text-indent: 2em;
}

.midground {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

footer {
  margin: 0 auto;
  width: 80%;
  background-color: rgb(255, 255, 255, 0.5);
  color: black;
  margin-top: 10em;
  margin-bottom: 2em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: Inconsolata;
  font-size: 1.05em;
}

.contact {
  display: flex;
  flex-direction: column;
}
