.note-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 1em;
}

.note-container>.background {
    background-color: #8BC6EC;
    background-image: linear-gradient(45deg, #8BC6EC 0%, #9599E2 100%);
}

.top-bar {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    display: flex;
}

.editor-container {
    grid-column: 1 / span 1;
    border-radius: 1em;
    margin: 0em 2em;
    background-color: white;
}

.back-icon {
    display: flex;
    width: 2em;
}

.button:hover {
    transform: scale(1.075);
    cursor: pointer;
}

.note-details {
    width: 100%;
    gap: 1em;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-name {
    border-radius: 0.5em;
    padding: 0.25em 0.5em;
}

.save-button {
    border-radius: 1em;
    padding: 0.5em 1em;
    background-color: white;
}

.editor-container .mdxeditor-toolbar {
    border-radius: 1em;
}