.note-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.note-container>.background {
    background-color: #8BC6EC;
    background-image: linear-gradient(45deg, #8BC6EC 0%, #9599E2 100%);
}

.top-bar {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    display: flex;
    margin: 0 2em;
}

.editor-container {
    grid-column: 1 / span 1;
    border-radius: 1em;
    margin: 0em 2em;
    overflow: auto;
    background-color: white;
    scrollbar-width: thin;
}

.back-icon {
    display: flex;
    width: 2em;
}

.button {
    transition: transform 100ms ease-out;
}

.button:hover {
    transform: scale(1.075);
    cursor: pointer;
}

.note-details {
    width: 100%;
    gap: 1em;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-name {
    border-radius: 0.5em;
    padding: 0.25em 0.5em;
}

.editor-container {
    flex-grow: 1;
}

.editor-container .mdxeditor-toolbar {
    border-radius: 1em;
}

.save-btn {
    color: white;
    padding: 0.75em 1.75em;
    transition: transform 100ms ease-out;
}

.back-btn {
    padding: .5em;
}