.note-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.note-container > .background {
  background-color: #8bc6ec;
  background-image: linear-gradient(45deg, #8bc6ec 0%, #9599e2 100%);
}

.top-bar {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  display: flex;
  margin: 1em 2em;
}

.editor-container {
  grid-column: 1 / span 1;
  border-radius: 0.5em;
  margin: 0em 2em;
  overflow: auto;
  background-color: white;
  scrollbar-width: thin;
  flex-grow: 1;
}

.editor-container p {
  margin: 0.5em;
  margin-top: 0.25em;
}

.editor-container .mdxeditor-toolbar {
  border-radius: 0.5em 0.5em 0 0;
}

.back-icon {
  display: flex;
  width: 2em;
}

.button {
  transition: transform 100ms ease-out;
}

.button:hover {
  transform: scale(1.075);
  cursor: pointer;
}

.note-details {
  width: 100%;
  gap: 1em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.note-btn {
  background-color: white;
  padding: 0.75em;
  transition: transform 100ms ease-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  border-radius: 0.5em;
}

.btn__name {
  color: black;
}

.back-btn {
  padding: 0.5em;
}

.top-buttons {
  display: flex;
  gap: 1em;
}

.note-btn > img {
  width: 1.25em;
}

.note-btn > .trash-img {
  width: 1.5em;
}

.custom-select-container {
  position: relative;
  display: inline-block;
  border-radius: 0.25em;
  padding: 0.4em 0.75em;
  background-color: var(--clr);
  box-shadow: 0 0 10px 0 color-mix(in srgb, var(--clr), rgba(0, 0, 0, 0.4) 20%);
}

.custom-select-container:has(> .options-list) {
  border-radius: 0.25em 0.25em 0 0;
}

.selected-value {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options-list {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: max-content;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 0 0.25em 0.25em 0.25em;
  padding: 0.5em;
}

.option {
  border-radius: 0.25em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
}

.option:hover {
  background-color: #f0f0f0;
}

.option > .circle {
  border: 1px solid #ddd;
}

.option-name {
  padding-left: 0.5em;
}
